<div class="body-wrapper">
	<h1>Our Menu</h1>
	<a href="/assets/bella_luna_dinner.pdf">Dinner Menu (PDF)</a>
	<a href="/assets/bella_luna_lunch.pdf">Lunch Menu (PDF)</a>
	<div class="menu-wrapper">
		<h2>Dinner</h2>
		<% 4.times do |n| %>
			<img src="/assets/dinner-<%= n+1 %>.png" />
		<% end %>
		<h2>Lunch</h2>
		<img src="/assets/lunch-1.png" />
	</div>
</div>