<div class="body-wrapper">

  <h1>About Us</h1>

  <div class="location-left-col">
    <p>Chefs and owners Donna Parang and Christin Love met while both attending University of Tennessee’s Culinary Institute in 2008. While there, each developed their culinary passions learning from certified executive chef, Dr. John Antun, the director of the Culinary Institute. It wasn’t until a group assignment brought the two chefs together did they form the relationship now forever coined as “Salt Queen” and “Garlic Girl”. At graduation, they organized the institute’s first graduate-made graduation meal and were so successful, they were asked to organize subsequent graduation meals. This was the beginning of a beautiful partnership…</p><br />
    <p>Donna Parang’s Italian roots stem from northern Italy. Generations of recipes and traditions have given Donna a passion for Italian culture and cuisine. After raising three kids, working for years in the corporate world, and graduating the culinary program, Donna’s entrepreneurial spirit got the best of her and left her full-time job to open a restaurant, the job of her dreams.</p><br />
	<p>Christin Love graduated UT’s Culinary Program with a new-found purpose. She quickly left her corporate job to hone her catering skills at Carson Newman College. But the idea of becoming a restaurant owner still consumed her and with the support of her amazing husband, Christin left her catering role to combine her love of Italian food with her culinary ambitions.</p><br />
	<p>And from there, Bella Luna Restaurant was born.</p><br />
	<p>Bella Luna has built its foundation on the soul of Italian culture, la famiglia. The Bella Luna family includes each professional staff member and guest that comes into its home. Since opening, Donna and Christin have created a restaurant that is as warm as their personalities and are continuously driven to maintain this spirit so each guest transitions from stranger to friend and feels completely taken care of when they walk through the door.</p><br />
	<p>Welcome to the Bella Luna family!</p><br />
	<p>Donna and Christin went on to become the first graduates of the UT Culinary Institute to open a restaurant. Unfortunately, Dr. Antun passed away before the doors opened. Donna and Christin are forever grateful for the learnings and inspiration Dr. Antun gave and dedicated Bella Luna’s first dollar earned to him.</p>



  </div>

  <div class="location-right-col">

  </div>
  <div style="clear:both"></div>

</div>