<div class="body-wrapper">

  <h1>About Us</h1>

<!-- <div class="location-right-col">
     </div>
-->
  <div class="about-left-col">
    <p><%= image_tag("JBP-4.png", :alt => "Donna Parang and Christin Love", :class => "about-pic") %><%=raw t("about.text") %></p>
  </div>

  <div style="clear:both"></div>

</div>