<div class="main-wrapper">
  <div class="inner-wrapper">
	<%= image_tag("site_3_03.png", :alt => "Sample App", :class => "round") %>
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>