<div class="body-wrapper">

  <h1>Location and Hours</h1>

  <div class="location-left-col">
	<h2>Location</h2>
    <p>15 Market Square<br />Knoxville, TN 37902<br />Phone: 865-247-7405<br />Fax: 865-249-7761</p>
	<br />
	<h2>Hours</h2>
    <p>Monday through Thursday: 12pm - 9pm<br />Friday and Saturday: 12pm - 10pm<br />Sunday: 4pm - 9pm</p>
  </div>

  <div class="location-right-col">
    <iframe width="500" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+Market+Square,+Knoxville,+TN&amp;aq=1&amp;sll=37.0625,-95.677068&amp;sspn=67.840216,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=15+Market+Square+SW,+Knoxville,+Tennessee+37902&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  </div>
  <div style="clear:both"></div>

</div>