<div class="main-wrapper">
	<h1>View our Menu</h1>
	<h2>Antipasti</h2>
	
	<div class="antipasti-item">
		<h3>Cheese Plate</h3>
		<p>a trio of domestic and imported cheeses with greek olives and crostini 13<br />add italian salamis 3</p>
	</div>
	
	<div class="antipasti-item">
		<h3>Bruschetta</h3>
		<p>a trio of domestic and imported cheeses with greek olives and crostini 13<br />add italian salamis 3</p>
	</div>
	
	<div class="antipasti-item">
		<h3>Cheese Plate</h3>
		<p>a trio of domestic and imported cheeses with greek olives and crostini 13<br />add italian salamis 3</p>
	</div>
	
	<div class="antipasti-item">
		<h3>Cheese Plate</h3>
		<p>a trio of domestic and imported cheeses with greek olives and crostini 13<br />add italian salamis 3</p>
	</div>
	
</div>
<div class="footer">
	<p>Copyright © 2012 Bella Luna - simple. modern. italian.<p>
</div>




