/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

a {
	color: #5C3B1C;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background-image: url('/assets/background.jpg');
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: 'Tangerine', 'Palatino Linotype', serif;
	font-weight: bold;
	font-size: 36px;
	color: #5c3b1c;
	text-shadow: 0px 1px 0px #ffffff;
}

h2 {
	font-family: 'Jura', 'Lucida Grande', sans-serif;
	font-weight: bold;
	margin: 8px 0 18px 0;
	color: #5c3b1c;
	font-size: 20px;
	text-shadow: 0px 1px 0px #ffffff;
}

h3{
	font-family: 'Jura', 'Lucida Grande', sans-serif;
	font-weight: bold;
	color: #545454;
	font-size: 16px;
	text-shadow: 0px 1px 0px #ffffff;
	margin-bottom: 20px;
}

li {
	font-family: 'Jura', 'Lucida Grande', sans-serif;
	font-size: 13px;
}

p {
	font-family: 'Jura', 'Lucida Grande', sans-serif;
	color: #656565;
	font-size: 13px;
	text-shadow: 0px 1px 0px #ffffff;
}

header {
	width: 922px;
	margin: 0 auto;
}

div.header-container {
	background-image: url('/assets/woodtop_background.jpg');
	height: 291px;
}

div.reservations {
	color: #ececec;
	font-family: 'Jura', 'Lucida Grande', sans-serif;
	float: right;
	margin: 20px 37px 0 0;
}

div.reservations span {
	color: #ececec;
	font-family: 'Jura', 'Lucida Grande', sans-serif;
}

div.find-us-on {
	float: left;
	margin-top: 15px;
}

div.find-us-on-label {
	float: left;
	margin: 15px 0 0 577px;
	color: #ececec;
	font-size: 10px;
}

img.social{
	margin-left: 5px;
}

header img {
	float: left;
}

img.logo {
	margin-top: 20px;
}

nav {
  float: right;
  border-top: 1px dashed #b4974b;
  border-bottom: 1px dashed #b4974b;
  margin: 30px 20px 0 0;
}

nav {
  padding: 10px 0 20px 0;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 15px 0 15px;
  text-decoration: none;
  font-size: 20px;
  color: #ececec;
  font-family: font-family: 'Jura', 'Lucida Grande', sans-serif;

}

nav ul li a:hover {
  color: #e18b01
}

div.main-wrapper {
	margin: -80px auto 10px auto;
	padding-top: 2px;
	width: 922px;
	border: 10px solid rgba(0,0,0,0.1);
	background-color: #fff8e9;
	-moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: border;  /* Safari 4? Chrome 6? */
	background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

	-moz-background-clip: content;     /* Firefox 3.6 */
	-webkit-background-clip: content;  /* Safari 4? Chrome 6? */
	background-clip: content-box;
}

div.inner-wrapper {
	margin: 25px;
	xborder: 1px solid red;
}

div.main-pic-container {
	border: 1px dashed #b4974b;
	padding: 7px 3px 3px 10px;
	margin: 10px;
	height: 423px;
}

div.dine-left {
	float: left;
	width: 275px;
	margin-bottom: 45px;
}

div.dine-center {
	float: left;
	margin: 53px 0 0 26px;
	xborder: 1px solid red;
	width: 275px;
}

/*-- We Cater -- */

div.dine-right {
	float: right;
	xborder: 1px solid red;
	width: 275px;
}

div.dine-right ul {
  margin: 0 0 0 20px;
  padding: 0;
}

div.dine-right ul li {
  padding: 0.2em 0;
  color: #656565;
  text-shadow: 0px 1px 0px #ffffff;
}



div.section {
	width: 100%;
	border-top: 2px dotted #b4974b;
	padding-top: 15px;
	margin-bottom: 45px;
	clear: both;
}

div.starters, div.salads {
	float: left;
}

img.starters-pic, img.salads-pic, img.desserts-pic, img.pasta-pic {
	padding: 7px;
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
}

div.salads {
	margin-left: 35px;
}

div.desserts {
	margin-right: 35px;
}

div.pasta, div.desserts {
	float: right;
}

div.clear {
	clear: both;
}


/*-- Twitter and Press --*/

div.twitter-container {
	width: 410px;
	xborder: 1px solid red;
}

div.twitter-item {
	float: left;
	width: 410px;
	border-top: 1px dashed #B4974B;
	padding-top: 14px;
}

div.twitter-item p {
	font-size: 13px;
}

div.twitter-item img {
	float: left;
	margin: 0 5px 20px 0;
	padding: 3px;
	background-color: #ffffff;
	border: solid 1px #ccc;
}

div.twitter-item span {
	float: right;
	font-size: 12px;
	color: #ababab;
}

div.press-container {
	float: right;
	width: 410px;
	xborder: 1px solid red;
}




/*-- Menu Items --*/

div.body-wrapper {
	xborder: 1px solid red;
	margin: 25px;
}

div.menu-wrapper{
	margin: 30px 0 0 200px;
	padding: 20px 0 20px 0;
	border-top: 2px dotted #B4974B;
	border-bottom: 2px dotted #B4974B;
	width: 500px;
}

div.menu-item {
	xborder: 1px solid red;
	margin-bottom: 15px;
}

div.menu-item p {
	font-style: italic;
}


div.footer {
	width: 922px;
	text-align: right;
	margin: 10px auto 40px auto;
}

div.footer p {
		color: #5c3b1c;
}

/*-- Location and Hours --*/

div.location-left-col {
	float: left;
}

div.location-right-col {
	float: right;
	border: 2px solid #c8b088;
}

div.about-left-col {
	float: left;
}

div.about-left-col img.about-pic {
	float: right;
	margin: 0 0 20px 20px;
	padding: 7px;
	background-color: #F8F8F8;
	border: 1px solid #CCC;
	transform: rotate(7deg);
	   -moz-transform: rotate(7deg);
	   -webkit-transform: rotate(7deg);
}





