/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

a {
	color: white;
}

body {
	background-image: url('/assets/background.jpg');
	font-family: Arial, Helvetica, sans-serif;
}

header {
	width: 922px;
	margin: 0 auto;
	border: 1px solid red;
}

div.header-container {
	background-image: url('/assets/woodtop_background.jpg');
	height: 291px;
}

header img {
	float: left;
}

nav {
  float: right;
  border: 1px solid red;
  margin: 78px 100px 0 0;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

div.main-wrapper {
	margin: 191px auto;
	width: 922px;
	border: 1px solid red;
	background-color: #fff8e9;
}

div.inner-wrapper {
	margin: 20px 20px 20px 20px;
	border: 1px solid red;
}




